<h1>Express Handlebars Works!</h1>

<ul>

    {{#each todos}}
    <li>
        <a href="/todos/edit/{{this.todo_id}}">
            {{this.todo_title}}
        </a>

        <a href="/todos/delete/{{this.todo_id}}">
            Delete
        </a>

        {{#if this.is_completed}}
        <span>{{this.is_completed}}</span>

        {{else}}
        <i>{{this.is_completed}}</i>
        {{/if}}

    </li>
    {{/each}}

</ul>

<a href="/todos/add">
    Add
</a>